<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" >
            <PatternLayout
                    pattern="%d %highlight{ %logger{36}: %msg%n%throwable}{ERROR=red, WARN=blue, INFO=cyan, DEBUG=green}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>